
  .svg-container {
    display: flex;
    align-items: center;
  }
  
  .svg-container svg {
    width: 100%;
    height: auto;
    max-width: 400px; 
    max-height: 400px;
  }
  
  .message {
    position: fixed;
    text-align: center;
    bottom: 30px;
    right: 40px;
    font-size: 20px;
    z-index: 100;
  }

  
  .dtu {
    opacity: 0;
    transform: translateY(100%);
    animation: slideIn 1s ease forwards;
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  

  .utd {
    opacity: 0;
    transform: translateY(-100%);
    animation: slideInUp 1s ease forwards;
  }
  
  @keyframes slideInUp {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
  
  
  
  
  
  